version: "3.9"

services:
  mysql:
    image: mysql:8.4
    container_name: gradi-mysql
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: gradi
      MYSQL_USER: root
      MYSQL_PASSWORD: gradipassword
      TZ: Asia/Seoul
    volumes:
      - mysql-data:/var/lib/mysql
    command:
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_unicode_ci

volumes:
  mysql-data:
